<!DOCTYPE html>
<html>
  <head>
    <script data-require="angular.js@*" data-semver="1.2.13" src="http://code.angularjs.org/1.2.13/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../app.js"></script>
<script src="rv_request_mocker.js"></script>

<style type="text/css">

.formInput{

	width: 85%;
    display: inline;
    float: right;
    height: 25px;


}

.errorStyle{
 	color: #D8000C;
    
}
.column {
    float: left;
    width: 50%;
    
    height: 715px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.structureButton{
	width:100%;
	margin-bottom: 2px;
}
h2{
	padding: 8px;
	margin: 0px;
}
.buttonSet{
	padding-left:3px;
	padding-right:3px;
}
.activeButton{
	background-color: #ebf0f5;
}

</style>
  </head>

  <body ng-app="app" ng-controller="rv_request_mocker" ng-init="initializeStructure()"  style="background-color: #94b9e03b;">
  
  <H1 align="center">RV Request Sender</H1>
  
     <div class="form-group row" style="padding-left: 24px; width: 30%;height: 100%; float: left; word-wrap: break-word;">
		  <div class="column" style="background-color:#aaa;">
		    <h2 style="     background-color: #799bbc;margin: 10px; background-color: #484c5070;">Model  Name:</h2>
		    <div class="buttonSet" ng-repeat="(key,value) in structure.inputStructure">
     			<button type="button" ng-class="$index==structure.selectedModelIndex?'activeButton':''"  class=" structureButton btn btn-outline-secondary" ng-click="selectedModel(structure.inputStructure[key],$index,key)">{{key}}</button>
     		</div> 
		  </div>
		  <div class="column" style="background-color:#bbb;">
		    <h2 style="    background-color: #799bbc; margin: 10px;background-color: #484c5070;">Request Name:</h2>
		    <!-- {{requestList}} -->
		     <div class=" buttonSet" ng-repeat="(key,value) in structure.requestList">
		    	<button type="button" ng-class="$index==structure.selectedRequestIndex?'activeButton':''" class=" structureButton btn btn-outline-secondary" ng-click="selectedRequest(structure.requestList[key],$index,key)">{{key}}</button>
		    </div> 
		  </div>
		
    <div ng-class=" form.error ? 'errorStyle' : ''" > {{structure.status}}</div>  
     </div>
    
    <div class="form-group" style="padding: 25px;background-color: #94b9e03b; width: 70%;height: 100%;float: right;">
		<form>
			
			<label for="comment">Model Name:</label>
		    <input required type="text" class="form-control formInput" ng-model="form.modelName" ><br>
		    <label for="comment">Request Name:</label>
		    <input required type="text" class="form-control formInput" ng-model="form.reqName" ><br>
			<div class="form-check">
		  		<input required type="radio" class="form-check-input" ng-model="form.type" name="type" value="ReqResp">
		  		<label class="form-check-label" for="materialUnchecked">Request/Response</label>
		  		<input required type="radio" class="form-check-input" ng-model="form.type" name="type" value="Event">
		  		<label  class="form-check-label" for="materialUnchecked">Event</label>
			</div>
		    <label for="comment">Service:</label>
		    <input required type="text" class="form-control formInput" ng-model="form.service" ><br>
		    <label for="comment">Network:</label>
		    <input required type="text" class="form-control formInput" ng-model="form.network"><br>
		    <label for="comment">deamon:</label>
		    <input required type="text" class="form-control formInput" ng-model="form.deamon"><br>
		    <label for="comment">VFEI:</label>
		    <textarea  class="form-control" rows="2" id="comment" ng-model="form.vfeiCmd" value="165.114.28.223" style="margin-bottom: 10px;     "></textarea>
		    <button class="btn btn-outline-secondary" ng-click="convertVfeiToJson(form)">Convert To Json V</button>
		    <button class="btn btn-outline-secondary" ng-click="convertJsonToVfei(form,'command')">Convert Back To Command Vfei ^</button>
		    <button class="btn btn-outline-secondary" ng-click="convertJsonToVfei(form,'event')">Convert Back To Event Vfei ^</button><br>
		    <label for="comment">Subject:</label>
		    <textarea required class="form-control" rows="1" id="comment" ng-model="form.subject" value="165.114.28.223" style="margin-bottom: 10px;     "></textarea>
			<label for="comment">Data:</label>
			<textarea class="form-control" rows="5" id="comment" ng-model="form.messageData" value ="5753" style="margin-bottom:  10px;     "></textarea>
			<button type="submit" class="btn btn-outline-secondary"ng-click="sendData(form)">Send</button>
			<button type="submit" class="btn btn-outline-secondary"ng-click="addRequest(form)">Save Request</button>
			<!-- <button ng-click="request(input)">Request data</button> -->
			<div style=" display:  inline; float:  right; width:  70%; padding-top: 8px; " ng-class=" form.error ? 'errorStyle' : ''"> Status : {{form.status}}  </div>
			<div ng-show="waiting"> Waiting : {{form.waiting}} </div>
			<div ng-show="message"> Alert  : {{form.message}}  </div>
		</form>
		<br>
		<label for="comment">Output Data:</label>
		<textarea class="form-control" rows="5" id="comment" ng-model="form.output"></textarea>
		
    </div>
  </body>

</html>
